body:before {
    display: block;
    content: '';
    height: 60px;
}

@media(min-width: 768px ) {
    .news-input {
        width: 50%;
    }
}

.carousel-slide {
    width: 80%;
    margin: auto;
}

.carousel-slide img {
    width: 100%;
    position: relative;
}
