* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

.fa-moon {
    position: absolute;
    cursor: pointer;
}

.darkmoon {
    opacity: 0;
}

.lightmoon {
    opacity: 1;
}

.doggydays {
    color: white;
    text-decoration: none;
    font-family:monospace;
}